@model TrainingTrackingSystemWebApp.ViewModels.UsersIndexViewModel

@{
    ViewBag.Title = "Home Page";
}


<div>
    <h1>Users List</h1>

    <div class="containerSearch">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input type="text" id="search-value" placeholder="Search..." />
        </div>
    </div>

    <div class="containerSearchBy">
            <b>Search By:</b>
            <select id="search-field">
                <option value="firstName">First Name</option>
                <option value="lastName">Last Name</option>
            </select>
    </div>

    <div class="containerOrderBy">
            <b>Order By:</b>
            <select id="order-type">
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select>     
    </div>

    <div class="containerCreateUser">
        <a href=""><span class="glyphicon glyphicon-user"></span> Create User</a>
    </div>

</div>

<div class="containerTable">
    <table>

        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Type</th>
                <th> </th>
            </tr>
        </thead>

        <tbody id="users-data">
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.first_name</td>
                    <td>@user.last_name</td>
                    <td>@user.email</td>
                    <td>@user.type</td>
                    <td>
                        <a href="">Update</a> |
                        <a href="">Details</a> |
                        <a href="">Delete</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>

    <div>
        <ul class="pager">
            <li class="previous"><a href="#">Previous</a></li>
            <li class="next"><a href="#">Next</a></li>
        </ul>
    </div>
</div>

@section styles{
<link href="~/Content/Styles/Index.css" rel="stylesheet" />
    <link href="~/Content/Index.css" rel="stylesheet" />

}

@section scripts{
    <script type="text/javascript">
        $("#search-value").on("keyup", "", function () {
            //console.log("We should filter the results here. Value: " + $(this).val());

            var searchField = $("#search-field").val();
            var searchValue = $(this).val();
            var orderType = $("#order-type").val();

            findUsers(searchField, searchValue, orderType);
        })

        $("#order-type").on("change", "", function () {
            var searchField = $("#search-field").val();
            //var searchValue = $(this).val();
            var orderType = $(this).val();

            findUsers(searchField, "", orderType);
        })

        function findUsers(searchField, searchValue, orderType) {

            $.ajax({
                url: "/Home/FindUsers",
                data: {
                    searchField: searchField,
                    searchValue: searchValue,
                    orderType: orderType
                },
                contentType: "application/json",
                // type: "GET",
                dataType: "json",
            })
                .done(function (data) {

                    var $tableData = $("#users-data");
                    $tableData.html("");

                    $.each(data.data, function (index, user) {


                        var element = "<tr>";
                        element += "<td>" + user.FirstName + "</td>";
                        element += "<td>" + user.LastName + "</td>";
                        element += "<td>" + user.Email + "</td>";
                        element += "<td>" + user.Type + "</td>";
                        element += "</tr>";

                        $tableData.append(element);
                    })
                })
                .fail(function (jqXHR) {
                    console.log(jqXHR.responseText);
                })
        }
    </script>
}