@model TrainingTrackingSystemWebApp.Controllers.HomeController.UsersIndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<h1>Users List</h1>

<select id="search-field">
    <option value="firstName">First Name</option>
    <option value="lastName">Last Name</option>
</select>
<input type="text" id="search-value" />

<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>@user.Type</td>
            </tr>
        }

    </tbody>
</table>



@section scripts{
    <script type="text/javascript">
        $("#search-value").on("keyup", "", function () {
            console.log("We should filter the results here. Value: " + $(this).val());

            var searchField = $("#search-field").val();
            var searchValue = $(this).val();

            findUsers(searchField, searchValue);
        })

        function findUsers(searchField, searchValue) {

            $.ajax({
                url: "/Home/FindUsers",
                data: {
                    searchField: searchField,
                    searchValue: searchValue
                },
                contentType: "application/json",
               // type: "GET",
                dataType: "json",
            })
                .done(function (data) {
                    console.log("Filtered data: ");
                    console.log(data.data);
                })
                .fail(function (jqXHR) {
                    console.log(jqXHR.responseText);
                })
        }
    </script>
}